<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width: 100%; padding: 15px;"> 
  <div class="container" >
    <a class="navbar-brand" href="#">User</a>
  </div>
  <div class="col-sm-6">
    <button routerLink="/login" class="btn btn-danger mx-2" style="float: right;">Logout</button>
    <button class="btn btn-success"  style="float: right;" routerLink="/userform/add">Add User</button>
  </div>
</nav>


<ng-template #loading>
  <p><em>Loading...</em></p>
</ng-template>



<ng-container *ngIf="userData$ | async as userData; else loading">
  <!--{{userData.userList | json }}-->
    <ng-container *ngIf="userData.userList ; else noData ">



      <table class="table"  shadow table-striped align-middle table-bordered>
        <thead class=" table-success">
          <tr class=" text-center">
            <!-- <th >Id</th> -->
            <th >Name</th>
            <th >Phone</th>
            <th >Email</th>
            <th>Website</th>
            <th *ngIf="userData.appUser"> Actions </th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr  *ngFor="let user of userData.userList"
      >
      
            <!-- <th >{{ user.id }}</th> -->
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.website }}</td>
            <td *ngIf="userData.appUser">


              <button
              class="btn btn-outline-dark"
              [routerLink]="['/userform/edit/',user.id]"
            >
              Edit
            </button>
              <button type="button" style="margin-left: 20px;" class="btn btn-danger" 
              (click)="delete(user.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noData>
      <div class="d-flex justify-content-center">
        <h4>No records found</h4>
      </div>
    </ng-template>


</ng-container>