.text {
    font-size: 45px;
}

.thicker-form {
    border: 2px solid #e8e4e4;
    padding: 20px;

}
.user{
    font-size: 18px;
}
.custom-navbar {
    width: 100%;
    padding: 15px;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.form-group{
    margin-bottom: 8px;
}