
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    
    <body>
        <div class="center">
            <input type="checkbox" id="show">
            <label for="show" class="show-btn">{{ mode === 'login' ? 'Login' : 'Signup' }}</label>
            <div class="container">
                <label for="show" class="close-btn fas fa-times" title="close"></label>
                <div class="text">
                    {{ mode === 'login' ? 'Login Form' : 'Signup Form' }}
                </div>

                <form (ngSubmit)="onSubmit()" #authForm="ngForm">
                    <div id="login" class="data">
                        <div class="input-container">
                            <i class="login__icon fas fa-user"></i>
                            <input type="text" class="login__input" name="email" [(ngModel)]="email" required
                                placeholder="{{ mode === 'login' ? 'Email' : 'Email' }}">
                        </div>
                    </div>
    
                    <div id="signup" class="data">
                        <div class="input-container">
                            <i class="login__icon fas fa-lock"></i>
                            <input [type]="showPassword ? 'text' : 'password'" class="login__input" name="password"
                                [(ngModel)]="password" required placeholder="Password">
                            <span class="password-toggle" (click)="togglePasswordVisibility()">
                                <i class="fas" [ngClass]="showPassword ? 'fa-eye ' : 'fa-eye-slash'"></i>
                            </span>
                        </div>
                    </div>
    
                    <div class="btn">
                        <div class="inner"></div>
                        <button type="submit">{{ mode === 'login' ? 'Login' : 'Signup' }}</button>
                    </div>
                    <div class="signup-link">
                        {{ mode === 'login' ? 'Not a member? ' : 'Already a member? ' }}<a (click)="toggleMode()">{{ mode === 'login' ?
                            'Signup now' : 'Login' }}</a>
                    </div>
                    <hr>
                    <div class="google-img" style="text-align: center;">
                        <a (click)="signInWithGoogle()">
                            <img src="../assets/images/google image.png" height="50px" width="50px">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </body>

</body>