



.custom-input {
    width: 300px
}

.input-group-text {
    background-color: white;
}

.home {
    font-size: 30px;
}

.github-link {
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.space {
    margin-right: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.color {
    color: white;
    display: flex;
    align-items: center;
}

.fa-plus {
    font-size: 25px;
}

.fa-power-off {
    font-size: 25px;
}

.fa-github {
    font-size: 30px;
    cursor: pointer;
}

.navbar-brand {
    font-size: 22px;
    margin-top: -20px;
}

.align {
    margin-top: 20px;
    font-size: 40px;
    color: #333;
    text-align: center;
}
.search-form-field{
    width: 350px;
    height: 65px;
    margin-top: 25px;
   
}
.searchform{
    background-color: white;
}
.btn{
    margin-bottom: 20px;
}