<nav class="navbar navbar-expand-lg navbar-dark "
  style="width: 100%; padding: 15px; background:linear-gradient(to right, #3498db, #9f01ea);">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><i class="fa fa-home home mx-1"></i>Home</a>
    <div class="d-flex col-md-6 offset-md-1 ">
      <form (ngSubmit)="search()" #searchForm="ngForm">
        <div class="input-group">
          <input type="text" class="form-control custom-input" placeholder="Search by Name" [(ngModel)]="searchQuery"
            name="searchQuery" />
          <span class="input-group-text">
            <i class="fa fa-times" *ngIf="showClearIcon" (click)="clearSearch()"></i>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="color">
    <div class="color" routerLink="/userform/add">
      <i class="fa fa-plus mx-2"></i>
      <div class="space">AddSite</div>
    </div>
    <div class="color" (click)="logout()">
      <i class="fa fa-power-off mx-2"></i>
      <div class="space">Logout</div>
    </div>
    <div class="color">
      <i class="fa fa-github mx-2"></i>
      <div class="github-link" style="color: white; "
        href="https://github.com/DevapoojaManisha/Crud-Angular-Project.git" target="_blank">GitHub</div>
    </div>
  </div>
</nav>
    <h1 class="align" >PassVault</h1>
    <h3 style="text-align:center">Create one master password and let PassVault take care of the rest. Logins, credit cards, ID cards and other important
    information stored in one safe place..</h3>
  
  <ng-template #loading>
    <p><em>Loading...</em></p>
  </ng-template> 
  
  <ng-container *ngIf="userData$ | async as userData; else loading">
    <ng-container *ngIf="userData.userList.length > 0; else noData">
      <div class="table-container">
        <table class="table  custom-bordered-table custom-rounded-table custom-smaller-table">
          <thead class="bg-success text-white">
            <tr class="text-center">
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Website</th>
              <th>Password</th>
              <th *ngIf="userData.appUser">Actions</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let user of userData.userList | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{ user.name }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.email }}</td>
              <td>
                <a *ngIf="user.website" [href]="'http://' + user.website" target="_blank">{{ user.website }}</a>
              </td>
              <td>{{ user.password}}</td>
              <td *ngIf="userData.appUser">
              <button class="btn btn-outline-dark mx-2" [routerLink]="'/userform/edit/' + user.id">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="delete(user.id)">
                <i class="fa fa-trash"></i>
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
      </div>
    </ng-container>
    <ng-template #noData>
      <div class="d-flex justify-content-center">
        <h4>No records found</h4>
      </div>
    </ng-template>
  </ng-container>

 
  