.card {
    border: none;
    width: 500px;
    padding: 40px;
    top: 70%;
    left: 100%;
    
    transform: translate(-50%, -50%);
    background-color: rgb(224, 228, 231);
    background: linear-gradient(90deg, rgb(179, 167, 219)0%, rgb(116, 153, 182)100%);
    }
    
    .card h1,h6{
        color: white;
    }
    label{
        color: azure;
    }
    .col-md-6 a{
     text-decoration: none;
    }