<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h1 class="text-dark text-muted">Login</h1>
                  <h6>pleaser enter email & password !!</h6>
                  <form  >
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input  type="email" class="form-control" name="email" [(ngModel)]="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input  type="password" class="form-control" name="password" [(ngModel)]="password">
                      </div>
                      <button type="button" class="btn btn-info mb-2" (click)="login()" >login</button>
                      <div class="row">
                        <div class="col-md-6">
                          <a routerLink="/signup">Need Account ? <span class="text-danger">signup</span></a>
                        </div>
                        <div class="row mt-2" style="text-decoration: none; background-color: white;">
                          <a (click)="signInWithGoogle()">
                            
                              
                                <img src="../../../assets/icons-google-48.png" alt="" height="24px" width="24p">Sign in with google
                              
                            
                          </a>
                        </div>
                      </div>
                      
                    </form>
                    
              </div>
          </div>
      </div>
  </div>
</div>